html {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(240, 240, 240, 0.98);
}

#mainlogo {
    position: relative;
    z-index: 0;
    width: 120px;
    height: 80px;
    float: left;
    margin-top: -90px;
    left: 20px;
}

#headerRec {
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 10px;
    z-index: -1;
    background-color: rgb(0, 106, 228);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 6px rgb(170, 170, 170);
}

#headerEntry {
    position: relative;
    bottom: 75px;
    text-indent: 15px;
    font-size: 15px;
    color: white;
    z-index: 1;
    left: 160px;
    float: left;
    width: 52%;
    height: 50px;
    background: rgb(90, 167, 255);
    border-radius: 15px;
    border: 0px;
    box-shadow: none;
    outline: none;
}

#headerEntry::placeholder {
    color: white;
    opacity: 0.8;
    font-family: 'Nunito', sans-serif;
}

#plussign {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -70px;
    left: 175px;
}

button#add {
    position: relative;
    z-index: 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -75px;
    left: 170px;
    background: white;
    outline: none;
    border-radius: 15px;
    border: none;
    position: relative;
    opacity: 0.9;
}

h1 {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    float: left;
}

#incompTitle {  /* FIX THIS PLS */
    left: -800px;
}

#comptTitle {
    right: 740px;
}

/* Text container */
.todo {
    position: relative;
    width: 95%;
    float: left;
    margin-top: -5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(150, 150, 150);
    border-radius: 15px;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 4px 6px rgb(170, 170, 170);
}

ul.todo li {
    width: 90%;
    height: 50px;
    float: left;
    margin-top: 18px;
    margin-left: -20px;
    background-color: white;
    list-style: none;
    font-size: 22px;
}

/* Text container */
.done {
    position: relative;
    width: 95%;
    float: left;
    margin-top: -5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(150, 150, 150);
    border-radius: 15px;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 4px 6px rgb(170, 170, 170);
    opacity: 40%;
}

ul.done li {
    z-index: 1;
    width: 90%;
    height: 50px;
    float: left;
    margin-top: 18px;
    margin-left: -20px;
    background-color: white;
    list-style: none;
    font-size: 22px;
}

#heejin { /* Trash Can Icon */
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
    left: 1270px;
}

#trashbutton {
    z-index: 0;
    width: 90%;
    height: 70px;
    float: left;
    margin-top: -18px;
    margin-left: -20px;
    border-radius: 15px; 
    background-color: transparent;
    outline: none;
    border: none;
}

.taskLabel {
    float: left;
    max-width: 95%;
    overflow: hidden;
    margin-left: 45px;
}

.taskComplete {
    float: left;
    max-width: 95%;
    overflow: hidden;
    margin-left: 45px;
}

#footerRec {
    position: relative;
    opacity: 100%;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: -100px;
    z-index: -1;
    background-color: rgb(0, 106, 228);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 4px 6px rgb(170, 170, 170);
}

.links {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

#about {
    top: 60px;
    left: 20px;
}

#socmed {
    top: 60px;
    left: 60px;
}