html {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(240, 240, 240, 0.98);
    width: auto;
    max-width: 1920px;
}

body {
    height: 100%;
}

#mainlogo {
    position: relative;
    z-index: 0;
    width: 120px;
    height: 80px;
    float: left;
    margin-top: -90px;
    left: 20px;
}

#headerRec {
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 10px;
    z-index: -1;
    background-color: rgb(0, 106, 228);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 6px rgb(170, 170, 170);
}

#headerEntry {
    position: relative;
    bottom: 75px;
    text-indent: 15px;
    font-size: 15px;
    color: white;
    z-index: 1;
    left: 160px;
    float: left;
    width: 55%;
    height: 50px;
    background: rgb(90, 167, 255);
    border-radius: 15px;
    border: 0px;
    box-shadow: none;
    outline: none;
}

#headerEntry::placeholder {
    color: white;
    opacity: 0.8;
    font-family: 'Nunito', sans-serif;
}

#plussign {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -70px;
    left: 175px;
}

button#add {
    position: relative;
    z-index: 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -75px;
    left: 170px;
    background: white;
    outline: none;
    border-radius: 15px;
    border: none;
    position: relative;
    opacity: 0.9;
}

h1 {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    float: left;
    z-index: 0;
}

#urtasks {
    font-size: 40px;
    position: relative;
    z-index: 0;
    float: left;
    margin: 0px;
    width: 1920px;
    top: -30px;
}

/* Text container */
.todo {
    z-index: 0;
    position: relative;
    width: 95%;
    float: left;
    margin-top: -5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(150, 150, 150);
    border-radius: 15px;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 4px 6px rgb(170, 170, 170);
}

ul.todo li {
    z-index: 0;
    width: 90%;
    height: 50px;
    float: left;
    margin-top: 18px;
    margin-left: -20px;
    background-color: white;
    list-style: none;
    font-size: 22px;
}

/* Text container */
.done {
    position: relative;
    width: 95%;
    float: left;
    margin-top: -5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(150, 150, 150);
    border-radius: 15px;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 4px 6px rgb(170, 170, 170);
    opacity: 40%;
}

ul.done li {
    z-index: 1;
    width: 90%;
    height: 50px;
    float: left;
    margin-top: 18px;
    margin-left: -20px;
    background-color: white;
    list-style: none;
    font-size: 22px;
}

#checkbox {
    z-index: 1;
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    left: 0px;
    color: rgb(150, 150, 150);
}

#heejin { /* Trash Can Icon */
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    right: -80px;
}

#trashbutton {
    position: relative;
    z-index: 1;
    width: 10%;
    height: 70px;
    float: right;
    margin-top: -18px;
    border-radius: 15px; 
    background-color: transparent;
    outline: none;
    border: none;
    right: -130px;
}

.taskLabel {
    z-index: 1;
    float: left;
    max-width: 95%;
    overflow: hidden;
    left: 15px;
    position: relative;
}

.taskComplete {
    z-index: 1;
    float: left;
    max-width: 95%;
    overflow: hidden;
    left: 15px;
    position: relative;
}

footer {
    bottom: -1000px;
}

#footerRec {
    position: relative;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: -1000px;
    z-index: -1;
    background-color: rgb(0, 106, 228);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 4px 6px rgb(170, 170, 170);
}

#about {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    top: 940px;
    left: -220px;
}

#socmed {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    top: 940px;
    left: -190px;
}

#urtasks {
    color: transparent;
    font-size: 1px;
}

#myBtn {
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: transparent;
    text-decoration: underline;
    position: relative;
    float: left;
    top: 10px;
    left: -200px;
    margin: -20px;
    color: rgb(132, 0, 194);
    z-index: 1;
}

#enterLogin {
    position: relative;
    margin: 5px;
    top: -10px;
    left: -5px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
}

#spacer {
    color: transparent;
    font-size: 3px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 80%;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 6px 6px 6px rgb(170, 170, 170);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -15px;
    left: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
    width: 90%;
    height: 25px;
}

#usernameInput {
    position: relative;
    right: -3px;
    top: -3px;
}

#usernameInput::placeholder {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-indent: 5px;
}

#passwordInput {
    position: relative;
    right: -7px;
    top: -3px;
}

#passwordInput::placeholder {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-indent: 5px;
}

#signUpLink {
    font-size: 15px;
}

#darkmode {
    width: 75px;
    height: 75px;
    position: fixed;
    float: right;
    right: 5px;
    top: 460px;
    border-radius: 100px;
    background-color: white;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}

#dmicon {
    width: 70px;
    height: 70px;
    position: fixed;
    float: right;
    right: 8px;
    top: 463px;
}